/*a{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
	width: 720px;
}

ul li{
	float: left;		
	background: url(../navegacao-aba/imagens/aba-direita.png) no-repeat top right;
	margin: 0.4px;
}

li a{
	display: block;
	padding: 0 2em;
	line-height: 3em;
	text-decoration: none;
	background: url(../navegacao-aba/imagens/aba-esquerda.png) no-repeat top left;
	color: #FFF;
}

a:hover{	
	color: #894a1f;	
}

ul #atual{
	background: url(../navegacao-aba/imagens/aba-direita-atual.png) no-repeat top right;	
}

ul #atual a{
	background: url(../navegacao-aba/imagens/aba-esquerda-atual.png) no-repeat top left;
}

ul a{	
	width: 200px;
	height: 40px;
	border: 1px solid red;
	display: block;
	color: #000;	
	text-indent: 50px;
	line-height: 40px;
	background: #f7b600 url(../navegacao-vert/imagens/menu.png) no-repeat left bottom;
}

a:hover{
	background-position: right bottom;
	color: #FFF;
}


#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contato #navegacao .contato a{
	background-position: right bottom;
	color: #fff;
	background-color: #f99200;
}
body{
	font-family: Helvetica, sans-serif;
	background: #f2f2f2;
}

#estrutura{
	width: 90%;
	margin: 0 auto;
	background: #fff;	
	min-width: 720px;
	max-width: 1440px;
}

#header{
	text-align: center;
	height: 100px;
	line-height: 100px;	
	background-color: #9e9e9e;	
}

#corpo{
	float: right;
	width: 75%;	
}

#conteudo1{	
	width: 64%;
	float: left;
}

#conteudo2{	
	width: 36%;
	float: right;
	background: #d1d1d1;
}

#conteudo2 h2, #conteudo2 p{
	padding-left: 20px;
	padding-right: 20px;
}

#navegacao{
	background: #d1d1d1;
	float: left;
	width: 23%;
	padding-top: 20px;
	padding-bottom: 20px;	
}

#navegacao ul{
	list-style: none;
}

#navegacao li a{
	text-decoration: none;
}

#rodape{
	background: #c4c4c4;
	clear: both;
	text-align: center;
	padding: 5px;
}


body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h2{
	text-align: center;
}

legend{
	font-weight: bold;
}

fieldset{
	margin-bottom: 1em;
	padding: 1em;
	border: 1px solid #ccc;
	background: #f8f8f8;
}

label{
	display: block;
	cursor: pointer;	
}

input[type="text"]{
	width: 20em;	
}

input:hover{
	background: #FFFFF4;
	border: 1px solid black;
}

textarea{
	width: 20em;
	height: 10em;
}	

textarea:hover{
	background: #FFFFF4;
	border: 1px solid black;
}

.radio{
	margin-right: 1em;
}

body{
	font-family: "Trebuchet MS, Helvetica, sans-serif;";
	background: #643d87 url(../formulario_estilizado/imagens/fundo.jpg)
	no-repeat top center;
	background-size: 2000px;
}

#container{
	width: 400px;
	height: 300px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 120px;
	text-align: center;
}

#container img{
	width: 120px;
	height: 120px;
	margin-top: -60px;
	margin-bottom: 30px;
}

input{
	height: 30px;
	width: 80%;
	font-size: 14px;
	margin-bottom: 10px;
	background-color: #fff;
	border: none;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: 10px;	
}

#email{
	background-image: url(../formulario_estilizado/imagens/icone-usuario.png);
	background-size: 1em;
}

#senha{
	background-image: url(../formulario_estilizado/imagens/icone-cadeado.png);
	background-size: 1em;
}

input.input{
	font-size: 20px;
	color: #fff;
	background-color: #f79300;
	padding: 5px 20px;
	height: 35px;
	background: linear-gradient(to bottom, #faa600, #f68a00 );
	cursor: pointer;
}

input.hover:hover{
	background-color: #FCFFCE ;
}
/*
body{
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}

.caixa h2{
	background: url(../arredondamento-com-imagens/imagens/topo2.png)
	no-repeat top left;	
	padding: 10px 20px 0px 20px;	
}

.caixa{
	width: 400px;	
	background: #dedede url(../arredondamento-com-imagens/imagens/fundo-arredondamento.png)
	repeat-y top left;			
}

.caixa .ultimo{
	background: url(../arredondamento-com-imagens/imagens/baixo2.png)
	no-repeat bottom left;	
	padding-bottom: 20px;
}

.caixa p{	
	padding: 0px 20px 0px;
}

body{
	background: url(fundo.jpg) no-repeat top left;
	background-size: 2000px;	
	text-align: center;	
	line-height: 80px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 40px;
}

button{
	width: 98px;
	height: 80px;
	font-size: 40px;	
	float: left;
	border: none;
	cursor: pointer;		
}

#container{
	width: 400px;
	height: 480px;		
	margin: 250px auto;	
}	

#head{
	width: 400px;
	height: 80px;	
	display: grid;	
	background: url(head.jpg) no-repeat top left;	
}

#principal{
	width: 300px;
	height: 320px;
	float: left;			
}

#principal div{	
	width: 98px;
	height: 80px;	
	float: left;		
	border: 1px solid #CACACA;
	background-color: #EEEEEE;
}

#principal button:hover{
	background-color: #C8C8C8;
}

#simbol{
	width: 98.1px;
	height: 325px;
	float: right;		
}

#simbol div{
	width: 99.5px;
	float: right;	
	border: 1px solid #CACACA;		
}

#simbol button{
	background-color: #FFA300;
	width: 99.5px;
}

#simbol button:hover{
	background-color: #B17101;
}

#igual{		
	clear: both;
	line-height: 68px;	
}

#igual button{
	width: 400px;
	height: 70px;		
	line-height: 68px;
	background-color: #7D7D7D;	
}

#igual button:hover{
	background-color: #C8C8C8;
}*/

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #fff url(imagens/fundo.png) repeat-x top left;	
}

a:link, a:visited{
	color: #b10333;
	padding: 2px;
	text-decoration: none;
}

a:hover{
	color: #e50040;
}

ul{
	margin: 0;
	padding: 0;
	list-style: none;	
}

#topo{
	height: 150px;
	padding-top: 25px;	
	background: url(imagens/detalhe-topo.png) repeat-y top right;	
}

#topo ul a{
	font-size: 0.9em;	
	display: block;
	padding: 0.5em 1.5em;
	text-decoration: none;
	color: #fff;
	line-height: 2.1em;
	background: url(imagens/divisor.png) no-repeat left center;
}

#topo ul .primeiro a{
	background: none;
}

#topo ul a:hover{
	color: #69001d;
}

#topo ul{
	margin-top: 30px;
	float: left;	
	background: #b10333;	
}

#topo ul li{
	float: left;
}
body.home #navegacao a#home,
body.brasil #navegacao a#brasil,
body.inter #navegacao a#inter,
body.fotos #navegacao a#fotos{
	color: #fff;
	background: #de003e;
	cursor: text;
}

#container{
	width: 760px;
	margin: 0 auto;	
}

.logo{
	width: 152px;
	height: 66px;
	background: url(imagens/logo.png) no-repeat top left;
	text-indent: -3000px;
}

#conteudo{
	background: #ccc;
	margin-top: 60px;	
}

#lateral{
	width: 180px;
	float: left;
	margin: 0 0 20px -750px;	
}

#primeiro{
	width: 270px;
	float: left;
	margin: 0 0 20px 195px;	
}

#duas-colunas #primeiro{
	width: 555px;	
}

#uma-coluna #primeiro{
	width: 750px;	
	margin: 0 0 20px 0px;
}

#segundo{
	width: 270px;
	float: left;
	margin: 0 0 20px 15px;	
}

#pri-rodape{
	width: 100%;
	padding: 20px;
	background: #294c71;
	float: left;		
}

#rodape{
	width: 750px;
	margin: 0 auto;
	color: #fff;
	text-align: center;	
}

.caixa{
	margin: 10px 0;
	padding: 5px;
	background: #f3f3f3 url(../noticias-cidade/imagens/fundo-caixa.png);
}

.caixa-conteudo{
	background: #fff;
	padding: 5px;
	margin-top: 5px;
}

h2{
	font-size: 1.2em;
	background: #294c71;
	color: #fff;
	padding: 5px;
}

img.imgtaxi{
	width: 98%;
	border: 3px solid #dfdfdf;
}

h3{
	text-transform: uppercase;
	display: inline;
	font-size: 0.8em;
	padding: 3px;
}

#mundo li{
	padding: 2px;
	border-bottom: 1px solid #ccc;
	height: 62px;
}

#mundo li a img{
	float: left;
	margin: 5px;
}

#mundo li a{
	text-decoration: none;
}

#mundo li a h3{
	font-size: 0.7em;
	padding: 0;
	color: #3e7ab9;
}

#mundo li:hover{
	background: #eee;
}


#mundo li a p{
	font-size: 0.7em;
	color: #000;
}

.destaque h3{
	background: #b10333;
	color: #fff;
}

#lateral ul a{
	font-size: 0.9em;
	padding: 3px;
	display: block;
	line-height: 30px;
	color: #000;
	text-decoration: none;
}

#lateral ul a:hover{
	background: #f9f9f9 url(../noticias-cidade/imagens/marcador.png)
	no-repeat left center;
	padding-left: 22px ;
	color: #a1a1a1;
}

label{
	display: block;
	cursor: pointer;
}

input{
	font-size: 0.9em;
	background-color: #fff;
	border: 1px solid black;
	width: 125px;
}

input.submit{
	color: #fff;
	margin-top: 5px;
	background-color: #b10333;
	border: 2px solid #870529;
	width: 80px;
}






